{% extends "base.html" %}
{% block content %}
  {% load bootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  <div class="col-md-8 col-md-offset-2 panel panel-default">
    <h3 class="text-center">Sign Up</h3>
    <form class="panel-body" action="{% url 'users:register' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "ok" %} Submit
        </button>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}